body{
    font-family: 'Ink Free';
    font-weight: bold;
    text-align: center;
}

div{
    background-color: lightgreen;
    width: 150px;
    height: 150px;
    margin: 100px auto;
    padding: 12px;
    text-align: justify;
    box-sizing: border-box;
    border: 3px solid black;
}

.d-1{transform: rotate(45deg);}
.d-2{transform: rotate(0.1225turn);}
.d-3{transform: translate(400px, -100px);}
.d-4{transform: scale(50%);}
.d-5{transform: scale(200%);}
.d-6{transform: skew(45deg, 0deg);}