:root{
    --vermelho: red;
    --verde: green;
    --font-am: yellow;
    --font-azul: blue;
    --tamanhof: 20px;
    --ita: italic;
}

body{
    font-family: 'Ink Free';
    font-weight: bold;
    text-align: center;
}

div{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    margin: auto;
    align-content: center;
    margin-bottom: 20px;
}

#pai-1{
    background-color: var(--vermelho);
    color: var(--font-am);
}

#pai-2{
    background-color: var(--verde);
    color: var(--font-azul);
    font-size: var(--tamanhof);
    font-style: var(--ita);
}

#pai-3{
    background-color: var(--vermelho);
    color: var(--font-am);
}

#pai-4{
    background-color: var(--verde);
    font-size: var(--tamanhof);
    color: var(--font-azul);
    font-style: var(--ita);
}

#pai-5{
    background-color: var(--vermelho);
    color: var(--font-am);
}