body{
  background-color: black;
  color: rgb(0, 255, 0);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.caixa{
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
  width: 80%;
  margin: 30px auto;
  padding: 40px;
  border-radius: 20px;
}

input{
  text-align: center;
}
input[type="number"]{min-width: 200px;}

table{
  width: 80%;
  margin: auto;
}

table, th, td{
  border: 2px solid rgb(0, 126, 0);
  border-collapse: collapse;
}

th, td{
  padding: 10px;
}

pre{text-align: left;}

ul{
  list-style-type: square;
  width: fit-content;
  margin: auto;
}
li{padding: 0px 10px;}

button.active{background-color: yellow;}