body{
    font-family: 'Ink Free';
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

div{box-sizing: border-box;}

.pai{
    background: linear-gradient(to bottom right, purple, darkblue, black);
    color: white;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
}

.filho{
    border: 2px solid black;
    background-color: rgba(32, 178, 171, 0.5);
    padding: 5px;
}

#pai-1{flex-direction: row;}
#pai-2{flex-direction: column;}
#pai-3{flex-direction: row-reverse;}
#pai-4{flex-direction: column-reverse;}
#pai-5{
    flex-direction: row;
    flex-wrap: nowrap;
}

#pai-6{
    flex-direction: row;
    flex-wrap: wrap;
}

#pai-7{
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#pai-8{
    flex-direction: column;
    flex-wrap: nowrap;
}

#pai-9{
    flex-direction: column;
    flex-wrap: wrap;
}

#pai-10{
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

#pai-11{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}