body{
    font-family: 'Ink Free';
    font-weight: bold;
    text-align: center;
}

.comum{
    border: 3px solid black;
    background-color: lightgreen;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#pai-1:hover{
    background-color: red;
    color: white;
}

#pai-2 {transition-duration: 0.8s;}
#pai-2:hover{
    background-color: red;
    color: white;
}

#pai-3:active{
    background-color: red;
    color: white;
}

#pai-4{transition-duration: 0.8s;}
#pai-4:active{
    background-color: red;
    color: white;
}

input{text-align: center;}

#pai-5 input:focus{
    background-color: red;
    color: white;
}

#pai-6 input{transition-duration: 0.8s;}
#pai-6 input:focus{
    background-color: red;
}

#pai-7 a:visited{color: red;}
#pai-7 a:link{color: white;}


#pai-8 button:first-child{background-color: red;}
#pai-9 button:last-child{background-color: red;}
#pai-10 button:nth-child(3){background-color: red;}
#pai-11 button:nth-child(odd){background-color: red;}
#pai-12 button:nth-child(even){background-color: red;}
#pai-13 button:nth-child(3n){background-color: red;}
#pai-14:lang(pt){background-color: red;}
#pai-15:lang(en){background-color: purple;}
#pai-16 input:autofill{border: 2px solid red;}
#pai-17 input:disabled{border: 2px solid red;}
#pai-18 input:enabled{border: 2px solid red;}
#pai-19 input:read-only{border: 2px solid red;}
#pai-20 input:placeholder-shown{border: 2px solid red;}
#pai-21 input:checked{outline: 2px solid red;}
