body{
    color: #333333;
    font-family: 'Poppins';
    margin: auto;
    max-width: 1591px;
    min-width: 360px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar_header .nav-link{
    color: #333333 !important;
    font-size: 14px;
    font-family: 'Poppins Medium';
    border-bottom: 5px solid transparent !important;
}

.carousel-item img{
    height: 48.5vw;
    max-height: 640px;
    min-height: 259px;
}

#logo{
    width: 275px;
    height: 50px;
}

.banner img{
    height: 48.5vw;
    max-height: 471px;
    position: relative;
    z-index: -1;
}

.banner{
    margin-top: -12px;
    box-shadow: 0px 5px 15px rgb(51, 51, 51) inset;
}

.sombra_carousel::after{
    border-top: 1px solid rgba(51, 51, 51, 0.75);
    box-shadow: 0px 5px 15px rgb(51, 51, 51) inset;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.dropdown-divider{
    border-top: 3px solid rgba(255, 255, 255, 0.25);
}

.dropdown-menu{
    border-radius: 0px;
    background-color: rgba(51, 51, 51, 0.91);
}

.dropdown-menu .nav-link{
    color: white !important;
    width: 260px;
    border: none !important;
}

.carousel-indicators button.active{background-color: #F9963B !important;}
#carouselExampleIndicators .carousel-indicators button, #carouselExampleCaptions .carousel-indicators button{
    background-color: white;
    opacity: 100;
    height: 13px;
    width: 71px;
    margin-bottom: 15px;
}

.barra{
    width: 78px;
    height: 52px;
    border-bottom: 3px solid #F9963B;
}

.titulo_card, .titulo_card_maior{
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    font-size: 25px;
    height: 60px;
}

.titulo_card_maior{height: inherit;}

.voltar{
    width: 230px;
    height: 46px;
}

.modelo_1{
    width: 194px;
    height: 46px;
}

.modelo_2{
    width: 128px;
    height: 36px;
    font-size: 12px;
    transform: translateY(18px);
}

.ver_mais, .voltar{
    background-color: white;
    border-radius: 30px;
}

.img_card{height: 255px;}

.dimensao_card{
    width: 350px;
    height: 471px;
    border-top: none !important;
}

.card_grande{
    width: 540px;
    height: 726px;
}

.img_quem_somos, .img_centro_ferias{
    width: 350px;
    height: 524px;
}

.conteudo{padding: 0px 38px 0px;}

.buttons_paginas a{
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Poppins Ligth';
    text-decoration: none;
    color: #333333;
    width: 34px;
    height: 34px;
}

.setas{
    font-family: monospace !important;
    font-size: 30px;
    position: relative;
    top: -6px;
}

.home_contactos{
    margin-top: 125px;
    height: 565px;
    background-image: url("../imagens/footer_contactos.png");
}

.home_contactos, .home_siga{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home_contactos::before, .home_siga::before{
    backdrop-filter: brightness(40%);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1
}

.home_contactos .titulo{
    font-size: 43px;
    margin-top: -50px;
    font-family: 'Poppins';
}

.home_siga{
    height: 476px;
    background-image: url("../imagens/footer_facebook.png");
}

.barra_siga{
    border-top: 2px solid rgb(255, 255, 255);
    opacity: 100%;
    margin-top: 27px !important;
}

.navbar_footer .nav-link{
    color: white !important;
    font-weight: 100 !important;
}

footer .copyright{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: light;
    margin-left: 245px;
}

.carousel-item img, .img_card{
    object-fit: cover;
    object-position: center;
}
    

/* -------------- FONTS -------------- */

.font_light, .voltar{font-family: 'Poppins Light' !important;}
.titulo{font-size: 38px;}
.texto{font-size: 18px;}
.texto_siga{font-size: 29px;}
.texto_contactos{font-size: 24px;}
.navbar_footer .nav-link, footer .copyright{font-size: 15px;}
.contactos_titulo{
    font-family: 'Poppins Medium';
    font-size: 25px;
}
.contactos_texto{font-family: 'Poppins';}


/* -------------- AJUSTES, MARGINS E PADDINGS -------------- */

.card_interno{
    padding: 0px 26px;
    /* min-height: 189px; */
}
.texto_card{margin-bottom: 12px !important;}
#margin_p_card{margin-bottom: 14px !important;}
#carrossel{margin-top: -36px;}

.home_contactos .barra{margin-top: 80px !important;}
.ajuste_bem_vindo{padding: 0px 150px;}
.ajuste_quem_somos, .ajuste_centro_ferias{padding: 0px 250px;}
.ajuste_nav{margin-bottom: -24px;}
.ajuste_empreendimentos{padding: 0px 145px 0px 180px;}
.imagens_empreendimentos{
    width: 540px;
    height: 357px
};

.mapa{margin: 15px 0px 10px 0px;}
.margin_face{margin: 85px;}
footer{margin-top: -40px;}

.navbar_footer{
    margin-top: 15px;
    margin-right: 230px;
}

.caixa_form{
    width: 635px;
}

.ajuste_contactos{
    padding: 0px 100px;
    margin-left: 150px;
}

.mensagem{height: 172px !important;}

.mensagem::placeholder{
    position: absolute;
    top: 5px;
    left: 10px;
}

.ajuste_inputs, .mensagem{
    width: 635px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #333333;
    font-family: 'Poppins';
    font-size: 18px;
}

.recaptcha{
    width: 200px;
    height: 50px;
    margin-top: -20px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.letras_miudas{
    font-size: 13px;
    font-family: 'Poppins Light';
}

input[type=button]{
    width: 171px;
    height: 47px;
}

/* -------------------------- HOVERS ------------------------ */

.navbar_header .nav-link:hover, .nav-link.active{
    transition: ease-in-out 0.5s;
    border-bottom: 5px solid #333333 !important;
}

.dropdown-menu .nav-link:hover{
    border: none !important;
    font-family: 'Poppins Bold' !important;
    font-size: 17px;
}

.ver_mais:hover, .voltar:hover{
    background-color: black;
    color: white;
}

.buttons_paginas a:hover, .buttons_paginas a.active{
    background-color: #333333;
    color: white;
}

.navbar_footer .nav-link:hover, .navbar_footer .nav-link.active{color: #F9963B !important;}


/* ------------------------------------------------ BREAKPOINTS ------------------------------------------------ */

@media all and (width < 1235px){
    li a{font-size: 14px !important;}
}

@media all and (width < 1088px){
    li a{font-size: 12px !important;}
}

@media all and (width < 992px){
    #carrossel{margin-top: 0px;}
    .navbar-toggler:focus{box-shadow: none;}
    div #logo, .navbar-toggler{margin: 0px !important;}
    .navbar{margin-top:5px;}
    .ajuste_bem_vindo, .ajuste_quem_somos, .ajuste_empreendimentos, .ajuste_centro_ferias{padding: 0px 100px;}
    .titulo, h1 .titulo, .subtitulo{font-size: 20px !important;}
    .texto_contactos{font-size: 18px;}
    .home_contactos{height: 550px;}
    .home_contactos .barra{margin-top: 29px !important;}
    .mapa{height: 323px;}
    .banner{margin-top: 27px;}
    .icone{
        width: 42px;
        height: 42px;
    }
}

@media all and (width < 768px){
    #carouselExampleIndicators .carousel-indicators button, #carouselExampleCaptions .carousel-indicators button{
        height: 7px;
        width: 35px;
    }

    .barra{
        width: 47px;
        height: 33px;
    }

    .titulo{
        font-size: 20px;
        line-height: 30px;
    }

    .texto{font-size: 13px;}

    .modelo_1{
        font-size: 10px;
        width: 105px;
        height: 29px;
    }

    .img_card{height: 208px;}
    .card_interno{padding: 0px 20px;}
    .dimensao_card{
        height: auto;
        width: 286px;
    }

    .titulo_card{
        line-height: 24px;
        font-size: 17px;
    }

    .modelo_2{
        width: 105px;
        height: 29px;
        font-size: 10px;
        transform: translateY(14.5px);
    }

    .home_siga{height: 310px;}
    .texto_siga{font-size: 18px;}

    .copyright{
        margin: auto !important;
        font-size: 11px !important;
        text-align: center !important;
        width: 220px;
        margin-bottom: 15px !important;
    }

    .barra_siga{
        border-top: 1px solid rgb(255, 255, 255);
        margin-top: 15px !important;
    }

    .navbar-collapse{
        background-color: rgba(51, 51, 51, 0.91);
        position: absolute;
        top: 66px;
        left: 12px;
        z-index: 3;
        width: 377px;
        box-sizing: border-box;
    }

    .navbar-collapse li{
        text-align: start;
        width: 100%;
    }

    header .navbar-collapse .nav-link{
        width: 100%;
        color: white !important;
        font-family: 'Poppins';
        font-size: 14px !important;
        border-bottom: 1px solid white !important;
        padding: 10px 35px !important;
    }

    header .navbar-collapse .nav-link.active, header .navbar-collapse .nav-link:hover{
        font-family: 'Poppins Bold';
        font-size: 16px !important;
        border-bottom: 1px solid white !important;
    }

    .dropdown-divider{
        border-top: 1px solid rgba(51, 51, 51);
        transform: translateX(-10px);
    }
    .dropdown-menu{background-color: white;}
    .dropdown-menu .nav-link.interno{
        color: rgba(51, 51, 51) !important;
        padding: 5px 35px !important;
    }
    .interno{
        font-family: 'Poppins Medium' !important;
        font-size: 14px !important;
    }
    .dropdown-menu .nav-link:hover{
        transition: 0.1s;
        font-family: 'Poppins' !important;
        color: #F9963B !important;
    }

    .img_quem_somos, .img_centro_ferias{
        width: 149px;
        height: 223px;
        float: none !important;
    }

    .ajuste_empreendimentos{padding: 0px 50px;}

    .imagens_empreendimentos{
        width: 286px !important;
        height: 190px !important;
    }

    .contactos_titulo{font-size: 17px;}

    .ajuste_contactos{
        padding: 0px;
        margin-left: 45px;
        width: 100%;
    }

    .ajuste_inputs, .mensagem, .caixa_form .contactos_titulo{margin-left: 25px;}

    .ajuste_inputs, .mensagem{
        width: 286px;
        height: 27px;
    }

    .recaptcha{
        width: 138px;
        height: 34px;
        position: relative;
        top: 100px;
        left: -150px;
    }

    input[type=button]{
        position: relative;
        top: 50px;
        left: -150px;
    }

    label{
        width: 80%;
        position: relative;
        top: 5px;
    }

    .letras_miudas{
        font-size: 10px;
        font-family: 'Poppins Medium';
    }

    .checkbox{
        display: inline-block;
    }
}

@media all and (width < 576px){
    #logo {
        width: 215px;
        padding: 0px 0px 0px 35px;
    }

    #carrossel{
        margin-top: 5px;
    }

    .carousel-item img{height: 69vw;}
    #carouselExampleIndicators .carousel-indicators button, #carouselExampleCaptions .carousel-indicators button{
        margin: 0px 0px -5px 3px;
    }

    .ajuste_bem_vindo, .ajuste_quem_somos, .ajuste_centro_ferias{padding: 0px 35px;}
}