body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h3{
    text-align: center;
}

div{
    text-align: justify;
    background-color: aqua;
    width: 400px;
}

.div-1{
    background-color: brown;
    margin: auto;
    color: white;
}

.div-2{
    width: auto;
}

.div-3{
    background-color: blue;
    color: white;
    margin-top:-50px;
}