body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.center{text-align: center;}

.caixa{
    display: inline-block;
    justify-content: center;
    margin: 15px;
    width: 250px;
}

.caixa img{
    height: 360px;
    width: 100%;
}
.card h3{color: gold;}
.card p{padding: 0px 10px 10px;}
a{display: block;}

.card{
    text-align: justify;
    font-weight: light;
    box-shadow: 1px 1px 5px 1px rgba(112, 112, 112, 0.5);
}